<!--suppress HtmlUnknownTarget -->
<div class="sidebar">
  <div class="container sidebar-sticky">
    <img alt="my face" src="/public/johanvo.jpg" style="border-radius: 50%">
    <div class="sidebar-about">
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/naming/' %} active{% endif %}" href="{{ site.baseurl }}naming">Naming</a>

      <a class="sidebar-nav-item{% if page.url == '/variants/' %} active{% endif %}" href="{{ site.baseurl }}variants">Variants</a>
      <ul>
        {% for variant in site.variants %}
        <li>
          <a class="sidebar-nav-item{% if page.url == variant.url %} active{% endif %}" href="{{ variant.url }}">
            <label style="color:#{{ variant.hex-color | default: "000000" }}">&#9724; </label>
            {{ variant.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
