---
layout: default
---
{% assign default_pu = 'https://' | append: page.name | append: '.mr-anderson.johanvo.me' | downcase %}
{% assign default_gpp = 'https://gitlab.com/mr-anderson/mr-anderson_' | append: page.name | downcase %}

<!--suppress HtmlUnknownTarget -->
<div class="page" >
    <div style="background-color:#{{ page.hex-color | default: "000000" }}; width: 100%;" >&nbsp;</div><br>
    <h1 class="page-title">{{ page.name }}</h1>
    {{ content }}

    <h3>Infrastructure diagram</h3>
    <a href="{{ page.gitlab-project-page | default: default_gpp }}/blob/master/docker-compose.yml" target="_blank">
        <img src="/variants/{{ page.name | downcase }}.diagram.png" alt="docker-compose.yml" title="Container diagram by docker-compose-viz">
    </a>

    <h3>Links</h3>
    <ul>
        <li>
            <a href="{{ page.public-url | default: default_pu }}" target="_blank">
                Public url
            </a>
        </li>
        <li>
            <a href="{{ page.gitlab-project-page | default: default_gpp }}" target="_blank">
                Gitlab project page
            </a>
        </li>
    </ul>
</div>
